.spa-notes {

  font-size: 0;

  .spa-notes-tree {
    display: inline-block;
    vertical-align: top;

    width: 20%;
    min-height: 500px;
    border: solid 1px #f4f5f5;
    box-sizing: border-box;
    padding: 0.5rem;

    font-size: 1rem;
  }

  .spa-notes-body {
    display: inline-block;
    vertical-align: top;

    border: solid 1px #f4f5f5;
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 600px;
    width: 80%;

    font-size: 1rem;
  }
}
