::-webkit-scrollbar {display:none}

.console-wrapper {
  position: absolute;
  left: 0;
  top: 3rem;
  right: 0;
  bottom: 0;

  display: relative;
  padding: 2rem 1rem 1rem;
  border: 0;
  box-shadow: 0 0 0 #fff;
  text-align: center;

  overflow-y: scroll;
}

.console-wrapper > .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
  font-weight: bold;
  color: #3882f0;
  font-size: 1.3rem;
}

.console-wrapper > textarea {
  width:70%;
  height: 600px;
  border: 0;
  padding: 1rem;

  background-color: #f4f5f5;
  box-shadow: 0 0 5px grey;
  font-size: 1.3rem;
  text-align: center;
}
.console-wrapper > textarea:focus {
  outline: 0;
}
